.source-code .css .hljs-keyword {
    color: #2f6f9f;
}
.source-code .css .hljs-selector-class {
    color: #0a8;
}
.source-code .css .hljs-attribute {
    color: #4f9fcf;
}
.source-code .css .hljs-comment {
    color: #999;
}
.source-code .css .hljs-number {
    color: #f5871f;
}
.source-code.dark .css .hljs-keyword {
    color: #569cd6;
}
.source-code.dark .css .hljs-selector-class {
    color: #0a8;
}
.source-code.dark .css .hljs-attribute {
    color: #9cdcfe;
}
.source-code.dark .css .hljs-comment {
    color: #999;
}
.source-code.dark .css .hljs-number {
    color: #d7ba7d;
}
.source-code .html .hljs-meta {
    color: #099;
}
.source-code .html .hljs-section, .source-code .html .hljs-tag {
    color: #2f6f9f;
}
.source-code .html .hljs-tag .hljs-attr {
    color: #4f9fcf;
}
.source-code .html .hljs-tag .hljs-string {
    color: #d44950;
}
.source-code .html .hljs-comment {
    color: #999;
}
.source-code.dark .html .hljs-meta {
    color: #099;
}
.source-code.dark .html .hljs-section, .source-code.dark .html .hljs-tag {
    color: #569cd6;
}
.source-code.dark .html .hljs-tag .hljs-attr {
    color: #9cdcfe;
}
.source-code.dark .html .hljs-tag .hljs-string {
    color: #ce9178;
}
.source-code.dark .html .hljs-comment {
    color: #999;
}
.source-code .js .hljs-number {
    color: #f5871f;
}
.source-code .js .hljs-string {
    color: #d44950;
}
.source-code .js .hljs-keyword {
    color: #2f6f9f;
}
.source-code .js .hljs-comment {
    color: #999;
}
.source-code.dark .js .hljs-number {
    color: #d7ba7d;
}
.source-code.dark .js .hljs-string {
    color: #ce9178;
}
.source-code.dark .js .hljs-keyword {
    color: #569cd6;
}
.source-code.dark .js .hljs-comment {
    color: #999;
}
.source-code .json .hljs-attr {
    color: #4f9fcf;
}
.source-code .json .hljs-string {
    color: #d44950;
}
.source-code .json .hljs-literal {
    color: #2f6f9f;
}
.source-code .json .hljs-number {
    color: #f5871f;
}
.source-code.dark .json .hljs-attr {
    color: #9cdcfe;
}
.source-code.dark .json .hljs-string {
    color: #ce9178;
}
.source-code.dark .json .hljs-literal {
    color: #569cd6;
}
.source-code.dark .json .hljs-number {
    color: #d7ba7d;
}
.source-code {
    margin-bottom: 1rem;
}
.source-code .nav-tabs a {
    color: #868e96;
    font-size: .95rem;
    text-decoration: none;
    padding: .75rem;
    padding-bottom: 0;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.source-code .nav-tabs a.active, .source-code .nav-tabs a:active, .source-code .nav-tabs a:hover {
    color: #3d4246;
}
.source-code pre, .source-code .nav-tabs {
    background: #efefef;
    border: none;
}
.source-code pre {
    margin: 0;
    overflow-x: auto;
    padding: .75rem;
}
.source-code.dark .nav-tabs a {
    color: gray;
}
.source-code.dark .nav-tabs a.active, .source-code.dark .nav-tabs a:active, .source-code.dark .nav-tabs a:hover {
    color: #fff;
}
.source-code.dark pre, .source-code.dark .nav-tabs {
    background: #222d32;
}
.source-code.dark pre {
    color: #e8e8e8;
}
