html, body {
    background: #f8f9fa;
    width: 100%;
    height: 100%}
body {
    font-family: 'Open Sans',  sans-serif;
    font-size: 1rem;
}
.app, .app-sidebar, .app-content {
    height: 100%}
.app {
    position: relative;
    width: 100%}
.app:before {
    content: "";
    height: 100%;
    float: left;
}
.app:after {
    content: "";
    clear: both;
    display: block;
}
.app .app-body {
    position: absolute;
    width: 100%;
    height: 100%}
.app .app-body .app-sidebar {
    background: #fff;
    float: left;
    font-size: 0.95rem;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: .95rem 0;
    position: relative;
    width: 15rem;
}
.app .app-body .app-sidebar::-webkit-scrollbar {
    background-color: #dee2e6;
    width: .2rem;
}
.app .app-body .app-sidebar::-webkit-scrollbar-thumb {
    background-color: #007bff;
}
@media (max-width: 767.99px) {
    .app .app-body .app-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2050;
    width: 0;
}
.app .app-body .app-sidebar.sidebar-open {
    width: 100%}
}.app .app-body .app-content {
    position: relative;
    overflow: auto;
}
@media print {
    .app .app-body {
    position: relative;
    height: auto;
}
.app .app-body .app-sidebar {
    display: none;
}
}.app .app-body .app-sidebar.sidebar-fade {
    -webkit-transition: opacity 0.3s linear, visibility 0.3s;
    -moz-transition: opacity 0.3s linear, visibility 0.3s;
    -o-transition: opacity 0.3s linear, visibility 0.3s;
    transition: opacity 0.3s linear, visibility 0.3s;
}
@media (max-width: 767.99px) {
    .app .app-body .app-sidebar.sidebar-fade {
    width: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    visibility: hidden;
}
.app .app-body .app-sidebar.sidebar-fade.sidebar-open {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    visibility: visible;
}
}.app .app-body .app-sidebar.sidebar-slide-left {
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.app .app-body .app-sidebar.sidebar-dark {
    background: #34495e;
}
.app .app-body .app-sidebar.sidebar-dark::-webkit-scrollbar {
    background-color: #2f4356;
}
.app .app-body .app-sidebar.sidebar-dark::-webkit-scrollbar-thumb {
    background-color: #17a2b8;
}
.app .app-body .app-sidebar.sidebar-dark .btn-sidebar .x:before, .app .app-body .app-sidebar.sidebar-dark .btn-sidebar .x:after {
    background-color: #98afc6;
}
/*.app .app-body .app-sidebar.sidebar-dark .sidebar-header .user-photo {
    background-color: #2b3c4e;
    border-color: #17a2b8;
}*/
.app .app-body .app-sidebar.sidebar-dark .sidebar-header .logo {
    background-color: #ffffff;
    border-color: #17a2b8;
}
.app .app-body .app-sidebar.sidebar-dark .sidebar-header .appname {
    color: #b9c9d8;
}

/*.app .app-body .app-sidebar.sidebar-dark .sidebar-header .username {
    color: #b9c9d8;
}*/
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav .sidebar-nav-group {
    background: #293a4a;
}
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:active, .app .app-body .app-sidebar.sidebar-dark .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:focus, .app .app-body .app-sidebar.sidebar-dark .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:hover {
    color: #17a2b8;
}
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav .sidebar-nav-link {
    color: #98afc6;
}
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-link, .app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link {
    color: #dae2ea;
}
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-link.collapsed, .app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link.collapsed {
    background-color: #34495e;
}
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-link:active, .app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-link:focus, .app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-link:hover, .app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-link[aria-expanded=true], .app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link:active, .app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link:focus, .app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link:hover, .app .app-body .app-sidebar.sidebar-dark .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link[aria-expanded=true] {
    background-color: #293a4a;
}
.app .app-body .app-sidebar.sidebar-dark .sidebar-footer a {
    color: #6789ab;
}
.app .app-body .app-sidebar.sidebar-dark .sidebar-footer a:active, .app .app-body .app-sidebar.sidebar-dark .sidebar-footer a:focus, .app .app-body .app-sidebar.sidebar-dark .sidebar-footer a:hover {
    color: #fff;
}
.app .app-body .app-sidebar.sidebar-light {
    background: #fff;
}
.app .app-body .app-sidebar.sidebar-light::-webkit-scrollbar {
    background-color: #f8f9fa;
}
.app .app-body .app-sidebar.sidebar-light::-webkit-scrollbar-thumb {
    background-color: #007bff;
}
.app .app-body .app-sidebar.sidebar-light .btn-sidebar .x:before, .app .app-body .app-sidebar.sidebar-light .btn-sidebar .x:after {
    background-color: #bac2cb;
}
.app .app-body .app-sidebar.sidebar-light .sidebar-header .user-photo {
    background-color: #f8f9fa;
    border-color: #ced4da;
}
.app .app-body .app-sidebar.sidebar-light .sidebar-header .username {
    color: #495057;
}
.app .app-body .app-sidebar.sidebar-light .sidebar-nav .sidebar-nav-group {
    background: #f2f2f2;
}
.app .app-body .app-sidebar.sidebar-light .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:active, .app .app-body .app-sidebar.sidebar-light .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:focus, .app .app-body .app-sidebar.sidebar-light .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:hover {
    color: #007bff;
}
.app .app-body .app-sidebar.sidebar-light .sidebar-nav .sidebar-nav-link {
    color: #606a73;
}
.app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-link, .app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link {
    color: #495057;
}
.app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-link.collapsed, .app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link.collapsed {
    background-color: #fff;
}
.app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-link:active, .app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-link:focus, .app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-link:hover, .app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-link[aria-expanded=true], .app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link:active, .app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link:focus, .app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link:hover, .app .app-body .app-sidebar.sidebar-light .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link[aria-expanded=true] {
    background-color: #ededed;
}
.app .app-body .app-sidebar.sidebar-light .sidebar-footer a {
    color: #a1a8ae;
}
.app .app-body .app-sidebar.sidebar-light .sidebar-footer a:active, .app .app-body .app-sidebar.sidebar-light .sidebar-footer a:focus, .app .app-body .app-sidebar.sidebar-light .sidebar-footer a:hover {
    color: #007bff;
}
.btn-sidebar {
    background: transparent;
    font-size: 1.4rem;
    margin-right: .3125rem;
}
@media (min-width: 768px) {
    .btn-sidebar {
    display: none;
}
}.btn-sidebar .x {
    display: block;
    width: 2rem;
    height: 2rem;
}
.btn-sidebar .x:before, .btn-sidebar .x:after {
    background-color: #ced4da;
    position: absolute;
    content: "";
    height: 2.125rem;
    width: .125rem;
}
.btn-sidebar .x:before {
    transform: rotate(45deg);
}
.btn-sidebar .x:after {
    transform: rotate(-45deg);
}
.app-sidebar .sidebar-header {
    padding: 0 1.25rem;
    text-align: center;
}
.app-sidebar .sidebar-header .user-photo {
    border: 0.125rem solid transparent;
    height: 4.5rem;
    padding: .125rem;
    width: 4.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
.app-sidebar .sidebar-header .logo {
    border: 0.125rem solid transparent;
    height: 11rem;
    padding: .125rem;
    width: 11rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.app-sidebar .sidebar-header .username {
    padding: .625rem 0;
    white-space: nowrap;
}
.app-sidebar .sidebar-header .username small {
    display: block;
    padding-top: .25rem;
    filter: alpha(opacity=75);
    opacity: .75;
}
.app-sidebar .sidebar-nav {
    overflow: hidden;
    padding: 0;
}
.app-sidebar .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link {
    padding: .375rem 3.75rem .625rem;
}
.app-sidebar .sidebar-nav .sidebar-nav-link {
    display: block;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}
.app-sidebar .sidebar-nav>.sidebar-nav-link, .app-sidebar .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link {
    border: none;
    font-weight: 400;
    padding: .95rem 1.5rem;
    white-space: nowrap;
    -webkit-transition: background-color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
}
.app-sidebar .sidebar-nav>.sidebar-nav-link i, .app-sidebar .sidebar-nav>.sidebar-nav-group>.sidebar-nav-link i {
    font-size: 1rem;
    padding-right: 1rem;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}
.app-sidebar .sidebar-footer {
    margin: 1.5rem 0;
    text-align: center;
    white-space: nowrap;
}
.app-sidebar .sidebar-footer a {
    font-size: 1.4rem;
    outline: none;
    padding: 0 .625rem;
    text-decoration: none;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}
.form-sign {
    width: 100%;
    max-width: 26.25rem;
    padding: .95rem;
    margin: 0 auto;
}
.form-sign hr {
    width: 5rem;
}
.page-sign {
    justify-content: center;
    padding-top: 2.45rem;
    padding-bottom: 2.45rem;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
}
.breadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.modal.modal-calendar .modal-dialog {
    max-width: 20rem;
}
.modal.modal-calendar .modal-dialog .modal-content .modal-header, .modal.modal-calendar .modal-dialog .modal-content .modal-body, .modal.modal-calendar .modal-dialog .modal-content .modal-footer {
    border-width: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.modal.modal-calendar .modal-dialog .modal-content .modal-header .input-group {
    height: auto;
    width: auto;
}
.modal.modal-calendar .modal-dialog .modal-content .modal-header .input-group .btn, .modal.modal-calendar .modal-dialog .modal-content .modal-header .input-group .form-control {
    font-size: 14pt;
    padding: .9375rem .3125rem 0 .3125rem;
}
.modal.modal-calendar .modal-dialog .modal-content .modal-header .input-group .btn.btn-link, .modal.modal-calendar .modal-dialog .modal-content .modal-header .input-group .form-control.btn-link {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.modal.modal-calendar .modal-dialog .modal-content .modal-header .input-group .form-control {
    border: none;
    display: inline-block;
    text-align: center;
    width: 3.75rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.modal.modal-calendar .modal-dialog .modal-content .modal-header .input-group .btn.dropdown-toggle {
    border: none;
    background: #fff;
    color: #495057;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.modal.modal-calendar .modal-dialog .modal-content .modal-header .input-group .btn.dropdown-toggle::after {
    display: none;
}
.modal.modal-calendar .modal-dialog .modal-content .modal-footer {
    justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
}
table.table-calendar {
    margin-bottom: .5rem;
    text-align: center;
    width: 100%}
table.table-calendar th {
    font-weight: normal;
    padding-bottom: .9375rem;
}
table.table-calendar th:first-child {
    color: #dc3545;
}
table.table-calendar td {
    color: #adb5bd;
    padding: .3125rem;
}
table.table-calendar td a {
    color: #495057;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}
table.table-calendar td a::before {
    border: 0.0625rem solid #007bff;
    content: " ";
    display: none;
    position: absolute;
    top: -.25rem;
    left: -.0625rem;
    width: 2rem;
    height: 2rem;
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%}
table.table-calendar td a:hover, table.table-calendar td a.active {
    color: #fff !important;
}
table.table-calendar td a:hover::before, table.table-calendar td a.active::before {
    background: #007bff;
    display: block;
}
table.table-calendar td a.today::before {
    display: block;
}
table.table-calendar td a.sunday {
    color: #dc3545;
}
.camera {
    display: block;
    width: 100%;
    -webkit-transform: scale(-1,  1);
    -moz-transform: scale(-1,  1);
    -ms-transform: scale(-1,  1);
    transform: scale(-1,  1);
    -ms-filter: "FlipH";
    filter: FlipH;
}
@keyframes ballon {
    0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
}@-webkit-keyframes ballon {
    0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
}@-moz-keyframes ballon {
    0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
}@-o-keyframes ballon {
    0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
}.chat {
    display: none;
    padding: 0;
    width: 100%}
.chat.chat-on {
    display: table;
}
.chat .chat-body, .chat .chat-footer {
    display: table-row;
}
.chat .chat-body {
    height: 100%}
.chat .chat-body .chat-content {
    display: table-cell;
    height: 100%}
.chat .chat-body .chat-content .chat-messages {
    height: 100%;
    position: relative;
    overflow: auto;
}
.chat .chat-body .chat-content .chat-messages .container-fluid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.chat .chat-body .chat-content .chat-messages .message-sent, .chat .chat-body .chat-content .chat-messages .message-reply {
    margin-bottom: 1rem;
}
.chat .chat-body .chat-content .chat-messages .message-sent img, .chat .chat-body .chat-content .chat-messages .message-reply img {
    vertical-align: top;
    width: 3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%}
.chat .chat-body .chat-content .chat-messages .message-sent p, .chat .chat-body .chat-content .chat-messages .message-reply p {
    display: inline-block;
    margin: 0;
    padding: .625rem 1.25rem;
    text-align: left;
    max-width: 75%;
    -webkit-animation: ballon 0.2s linear;
    -moz-animation: ballon 0.2s linear;
    -o-animation: ballon 0.2s linear;
    animation: ballon 0.2s linear;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    border-radius: 1.25rem;
}
.chat .chat-body .chat-content .chat-messages .message-sent img {
    margin-right: .375rem;
}
.chat .chat-body .chat-content .chat-messages .message-sent p {
    background-color: #476481;
    color: #fff;
    transform-origin: top left;
}
.chat .chat-body .chat-content .chat-messages .message-sent small {
    color: #aabed1;
}
.chat .chat-body .chat-content .chat-messages .message-reply {
    text-align: right;
}
.chat .chat-body .chat-content .chat-messages .message-reply img {
    float: right;
    margin-left: .625rem;
}
.chat .chat-body .chat-content .chat-messages .message-reply p {
    background-color: #ced4da;
    transform-origin: top right;
}
.chat .chat-body .chat-content .chat-messages .message-reply small {
    color: #868e96;
}
.chat .chat-footer .btn, .chat .chat-footer .form-control {
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.chat .chat-footer .btn {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
label {
    margin-bottom: .25rem;
}
.label-infield, .label-floating {
    position: relative;
}
.label-infield label, .label-floating label {
    cursor: text;
}
.label-infield>input {
    padding-top: 1.75rem;
}
.label-infield>label {
    position: absolute;
    top: 0;
    left: 0;
    color: #868e96;
    display: block;
    font-size: .95rem;
    line-height: 1.5;
    margin-bottom: 0;
    padding: .5rem .75rem;
    width: 100%}
.label-floating>input, .label-floating>label {
    padding: .75rem .75rem;
}
.label-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #868e96;
    border: .0625rem solid transparent;
    transition: all .1s ease-in-out;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}
.label-floating input::-webkit-input-placeholder {
    color: transparent;
}
.label-floating input:-moz-placeholder {
    color: transparent;
    filter: alpha(opacity=100);
    opacity: 1;
}
.label-floating input::-moz-placeholder {
    color: transparent;
    filter: alpha(opacity=100);
    opacity: 1;
}
.label-floating input:-ms-input-placeholder {
    color: transparent;
}
.label-floating input::-ms-input-placeholder {
    color: transparent;
}
.label-floating input:not(:placeholder-shown) {
    padding-top: calc(.75rem + .75rem * (2 / 3));
    padding-bottom: calc(.75rem / 3);
}
.label-floating input:not(:placeholder-shown) ~ label {
    padding-top: calc(.75rem / 3);
    padding-bottom: calc(.75rem / 3);
    font-size: .75rem;
    color: #868e96;
}
.callout {
    padding: 1.25rem;
    margin-bottom: 1rem;
    border: .0625rem solid #eee;
    border-left-width: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}
.callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
}
.callout ul:last-child, .callout ol:last-child, .callout p:last-child {
    margin-bottom: 0;
}
.callout code {
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}
.callout+.callout {
    margin-top: -.25rem;
}
.callout.callout-info {
    border-left-color: #5bc0de;
}
.callout.callout-info h4 {
    color: #5bc0de;
}
.callout.callout-warning {
    border-left-color: #f0ad4e;
}
.callout.callout-warning h4 {
    color: #f0ad4e;
}
.callout.callout-danger {
    border-left-color: #d9534f;
}
.callout.callout-danger h4 {
    color: #d9534f;
}
label.checkbox {
    margin-bottom: 0;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label.checkbox input[type=checkbox] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}
label.checkbox input[type=checkbox], label.checkbox input[type=checkbox]:after, label.checkbox input[type=checkbox]:before, label.checkbox input[type=checkbox] *, label.checkbox input[type=checkbox] *:after, label.checkbox input[type=checkbox] *:before, label.checkbox input[type=checkbox]+span {
    box-sizing: border-box;
}
label.checkbox input[type=checkbox]::selection, label.checkbox input[type=checkbox]:after::selection, label.checkbox input[type=checkbox]:before::selection, label.checkbox input[type=checkbox] *::selection, label.checkbox input[type=checkbox] *:after::selection, label.checkbox input[type=checkbox] *:before::selection, label.checkbox input[type=checkbox]+span::selection {
    background: none;
}
label.checkbox input[type=checkbox]+.check-mark {
    background-color: #fff;
    border: 0.0625rem solid #adb5bd;
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: .625rem;
    position: relative;
    -webkit-border-radius: .3125rem;
    -moz-border-radius: .3125rem;
    border-radius: .3125rem;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
label.checkbox input[type=checkbox]+.check-mark:after {
    content: "";
    position: absolute;
    display: none;
    left: .375rem;
    top: .1875rem;
    width: .375rem;
    height: .625rem;
    border: solid #fff;
    border-width: 0 .125rem .125rem 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
label.checkbox input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.25);
}
label.checkbox input[type=checkbox]:checked+.check-mark {
    background: #adb5bd;
}
label.checkbox input[type=checkbox]:checked+.check-mark:after {
    display: block;
}
label.checkbox input[type=checkbox]:disabled+.check-mark {
    cursor: not-allowed;
}
label.checkbox.checkbox-sm {
    font-size: .8rem;
}
label.checkbox.checkbox-sm input[type=checkbox]+.check-mark {
    height: 1.05rem;
    width: 1.05rem;
}
label.checkbox.checkbox-sm input[type=checkbox]+.check-mark:after {
    left: .3125rem;
    top: .125rem;
    width: .3125rem;
    height: .55rem;
}
label.checkbox.checkbox-lg {
    font-size: 1.05rem;
}
label.checkbox.checkbox-lg input[type=checkbox]+.check-mark {
    height: 1.6rem;
    width: 1.6rem;
}
label.checkbox.checkbox-lg input[type=checkbox]+.check-mark:after {
    left: .57rem;
    top: .3rem;
    width: .4375rem;
    height: .75rem;
    border-width: 0 .1875rem .1875rem 0;
}
label.checkbox-danger input[type=checkbox]+.check-mark {
    border-color: #dc3545;
}
label.checkbox-danger input[type=checkbox]:checked+.check-mark {
    background: #dc3545;
}
label.checkbox-danger input[type=checkbox]:checked:disabled+.check-mark {
    background: #eb8c95;
    border-color: #eb8c95;
}
label.checkbox-danger input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
label.checkbox-info input[type=checkbox]+.check-mark {
    border-color: #17a2b8;
}
label.checkbox-info input[type=checkbox]:checked+.check-mark {
    background: #17a2b8;
}
label.checkbox-info input[type=checkbox]:checked:disabled+.check-mark {
    background: #4cd3e9;
    border-color: #4cd3e9;
}
label.checkbox-info input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}
label.checkbox-primary input[type=checkbox]+.check-mark {
    border-color: #007bff;
}
label.checkbox-primary input[type=checkbox]:checked+.check-mark {
    background: #007bff;
}
label.checkbox-primary input[type=checkbox]:checked:disabled+.check-mark {
    background: #66b0ff;
    border-color: #66b0ff;
}
label.checkbox-primary input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
label.checkbox-success input[type=checkbox]+.check-mark {
    border-color: #28a745;
}
label.checkbox-success input[type=checkbox]:checked+.check-mark {
    background: #28a745;
}
label.checkbox-success input[type=checkbox]:checked:disabled+.check-mark {
    background: #5dd879;
    border-color: #5dd879;
}
label.checkbox-success input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
label.checkbox-warning input[type=checkbox]+.check-mark {
    border-color: #ffc107;
}
label.checkbox-warning input[type=checkbox]:checked+.check-mark {
    background: #ffc107;
}
label.checkbox-warning input[type=checkbox]:checked:disabled+.check-mark {
    background: #ffdb6d;
    border-color: #ffdb6d;
}
label.checkbox-warning input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}
.form-group.has-error label {
    color: #dc3545;
}
.form-group.has-error .form-control {
    border: 0.0625rem solid #dc3545;
}
.form-group.has-error .form-control:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.input-group.as-input {
    cursor: text;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group.as-input .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.input-group.as-input .input-group-prepend>.input-group-text, .input-group.as-input .input-group-append>.input-group-text {
    background-color: #fff;
}
.input-group.as-input.prepend .form-control {
    border-left: none;
}
.input-group.as-input.prepend .input-group-prepend>.input-group-text {
    border-right: none;
}
.input-group.as-input.append .form-control {
    border-right: none;
}
.input-group.as-input.append .input-group-append>.input-group-text {
    border-left: none;
}
.input-group.as-input.is-invalid .form-control, .input-group.as-input.is-invalid .input-group-prepend>.input-group-text, .input-group.as-input.is-invalid .input-group-append>.input-group-text {
    border-color: #dc3545;
}
.input-group.as-input.is-valid .form-control, .input-group.as-input.is-valid .input-group-prepend>.input-group-text, .input-group.as-input.is-valid .input-group-append>.input-group-text {
    border-color: #28a745;
}
.input-group.as-input.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.input-group.as-input.focus .form-control, .input-group.as-input.focus .input-group-prepend>.input-group-text, .input-group.as-input.focus .input-group-append>.input-group-text {
    border-color: #80bdff;
}
.input-group.as-input.focus.is-invalid {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.input-group.as-input.focus.is-invalid .form-control, .input-group.as-input.focus.is-invalid .input-group-prepend>.input-group-text, .input-group.as-input.focus.is-invalid .input-group-append>.input-group-text {
    border-color: #dc3545;
}
.input-group.as-input.focus.is-valid {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.input-group.as-input.focus.is-valid .form-control, .input-group.as-input.focus.is-valid .input-group-prepend>.input-group-text, .input-group.as-input.focus.is-valid .input-group-append>.input-group-text {
    border-color: #28a745;
}
.input-group.as-input.disabled .form-control, .input-group.as-input.disabled .input-group-prepend>.input-group-text, .input-group.as-input.disabled .input-group-append>.input-group-text, .input-group.as-input.readonly .form-control, .input-group.as-input.readonly .input-group-prepend>.input-group-text, .input-group.as-input.readonly .input-group-append>.input-group-text {
    background: #e9ecef;
}
.input-suggestion {
    position: relative;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}
.input-suggestion .input-suggestion-list {
    background-color: #fff;
    border-bottom: 0.0625rem solid #007bff;
    border-left: 0.0625rem solid #007bff;
    border-right: 0.0625rem solid #007bff;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1050;
    -webkit-border-bottom-left-radius: .31rem;
    -webkit-border-bottom-right-radius: .31rem;
    -moz-border-bottom-left-radius: .31rem;
    -moz-border-bottom-right-radius: .31rem;
    border-bottom-left-radius: .31rem;
    border-bottom-right-radius: .31rem;
}
.input-suggestion .input-suggestion-list .list-group .list-group-item {
    border: none;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.input-suggestion.open {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.input-suggestion.open input {
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.input-suggestion.open input, .input-suggestion.open .input-suggestion-list {
    background-color: #fff;
    border-color: #80bdff;
    color: #495057;
    display: block;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
label.radio {
    margin-bottom: 0;
    text-align: left;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label.radio input[type=radio], label.radio input[type=checkbox] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}
label.radio input[type=radio], label.radio input[type=radio]:after, label.radio input[type=radio]:before, label.radio input[type=radio] *, label.radio input[type=radio] *:after, label.radio input[type=radio] *:before, label.radio input[type=radio]+span, label.radio input[type=checkbox], label.radio input[type=checkbox]:after, label.radio input[type=checkbox]:before, label.radio input[type=checkbox] *, label.radio input[type=checkbox] *:after, label.radio input[type=checkbox] *:before, label.radio input[type=checkbox]+span {
    box-sizing: border-box;
}
label.radio input[type=radio]::selection, label.radio input[type=radio]:after::selection, label.radio input[type=radio]:before::selection, label.radio input[type=radio] *::selection, label.radio input[type=radio] *:after::selection, label.radio input[type=radio] *:before::selection, label.radio input[type=radio]+span::selection, label.radio input[type=checkbox]::selection, label.radio input[type=checkbox]:after::selection, label.radio input[type=checkbox]:before::selection, label.radio input[type=checkbox] *::selection, label.radio input[type=checkbox] *:after::selection, label.radio input[type=checkbox] *:before::selection, label.radio input[type=checkbox]+span::selection {
    background: none;
}
label.radio input[type=radio]+.check-mark, label.radio input[type=checkbox]+.check-mark {
    background-color: #fff;
    border: 0.0625rem solid #adb5bd;
    cursor: pointer;
    height: 1.125rem;
    width: 1.125rem;
    margin-right: .625rem;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
label.radio input[type=radio]+.check-mark:after, label.radio input[type=checkbox]+.check-mark:after {
    background: #868e96;
    border: 0.125rem solid #fff;
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
label.radio input[type=radio]:focus+.check-mark, label.radio input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.25);
}
label.radio input[type=radio]:checked+.check-mark:after, label.radio input[type=checkbox]:checked+.check-mark:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
label.radio input[type=radio]:not(:checked)+.check-mark:after, label.radio input[type=checkbox]:not(:checked)+.check-mark:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
label.radio input[type=radio]:disabled+.check-mark, label.radio input[type=checkbox]:disabled+.check-mark {
    color: #606a73;
    cursor: not-allowed;
}
label.radio input[type=radio]:disabled+.check-mark:before, label.radio input[type=checkbox]:disabled+.check-mark:before {
    border-color: #bbc2c8;
}
label.radio input[type=radio]:disabled+.check-mark:after, label.radio input[type=checkbox]:disabled+.check-mark:after {
    background: #a1a8ae;
}
label.radio.radio-sm {
    font-size: .875rem;
}
label.radio.radio-sm input[type=radio]+.check-mark, label.radio.radio-sm input[type=checkbox]+.check-mark {
    width: 1rem;
    height: 1rem;
}
label.radio.radio-sm input[type=radio]+.check-mark:after, label.radio.radio-sm input[type=checkbox]+.check-mark:after {
    border-width: .1rem;
    width: .875rem;
    height: .875rem;
}
label.radio.radio-lg {
    font-size: 1.125rem;
}
label.radio.radio-lg input[type=radio]+.check-mark, label.radio.radio-lg input[type=checkbox]+.check-mark {
    width: 1.4rem;
    height: 1.4rem;
}
label.radio.radio-lg input[type=radio]+.check-mark:after, label.radio.radio-lg input[type=checkbox]+.check-mark:after {
    border-width: .175rem;
    width: 1.275rem;
    height: 1.275rem;
}
label.radio-danger input[type=radio]+.check-mark, label.radio-danger input[type=checkbox]+.check-mark {
    border-color: #dc3545;
}
label.radio-danger input[type=radio]+.check-mark:after, label.radio-danger input[type=checkbox]+.check-mark:after {
    background: #dc3545;
}
label.radio-danger input[type=radio]:disabled+.check-mark, label.radio-danger input[type=checkbox]:disabled+.check-mark {
    border-color: #eb8c95;
}
label.radio-danger input[type=radio]:disabled+.check-mark:after, label.radio-danger input[type=checkbox]:disabled+.check-mark:after {
    background: #eb8c95;
}
label.radio-danger input[type=radio]:focus+.check-mark, label.radio-danger input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
label.radio-info input[type=radio]+.check-mark, label.radio-info input[type=checkbox]+.check-mark {
    border-color: #17a2b8;
}
label.radio-info input[type=radio]+.check-mark:after, label.radio-info input[type=checkbox]+.check-mark:after {
    background: #17a2b8;
}
label.radio-info input[type=radio]:disabled+.check-mark, label.radio-info input[type=checkbox]:disabled+.check-mark {
    border-color: #4cd3e9;
}
label.radio-info input[type=radio]:disabled+.check-mark:after, label.radio-info input[type=checkbox]:disabled+.check-mark:after {
    background: #4cd3e9;
}
label.radio-info input[type=radio]:focus+.check-mark, label.radio-info input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}
label.radio-primary input[type=radio]+.check-mark, label.radio-primary input[type=checkbox]+.check-mark {
    border-color: #007bff;
}
label.radio-primary input[type=radio]+.check-mark:after, label.radio-primary input[type=checkbox]+.check-mark:after {
    background: #007bff;
}
label.radio-primary input[type=radio]:disabled+.check-mark, label.radio-primary input[type=checkbox]:disabled+.check-mark {
    border-color: #66b0ff;
}
label.radio-primary input[type=radio]:disabled+.check-mark:after, label.radio-primary input[type=checkbox]:disabled+.check-mark:after {
    background: #66b0ff;
}
label.radio-primary input[type=radio]:focus+.check-mark, label.radio-primary input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
label.radio-success input[type=radio]+.check-mark, label.radio-success input[type=checkbox]+.check-mark {
    border-color: #28a745;
}
label.radio-success input[type=radio]+.check-mark:after, label.radio-success input[type=checkbox]+.check-mark:after {
    background: #28a745;
}
label.radio-success input[type=radio]:disabled+.check-mark, label.radio-success input[type=checkbox]:disabled+.check-mark {
    border-color: #5dd879;
}
label.radio-success input[type=radio]:disabled+.check-mark:after, label.radio-success input[type=checkbox]:disabled+.check-mark:after {
    background: #5dd879;
}
label.radio-success input[type=radio]:focus+.check-mark, label.radio-success input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
label.radio-warning input[type=radio]+.check-mark, label.radio-warning input[type=checkbox]+.check-mark {
    border-color: #ffc107;
}
label.radio-warning input[type=radio]+.check-mark:after, label.radio-warning input[type=checkbox]+.check-mark:after {
    background: #ffc107;
}
label.radio-warning input[type=radio]:disabled+.check-mark, label.radio-warning input[type=checkbox]:disabled+.check-mark {
    border-color: #ffdb6d;
}
label.radio-warning input[type=radio]:disabled+.check-mark:after, label.radio-warning input[type=checkbox]:disabled+.check-mark:after {
    background: #ffdb6d;
}
label.radio-warning input[type=radio]:focus+.check-mark, label.radio-warning input[type=checkbox]:focus+.check-mark {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}
@keyframes spinner {
    0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
}@-webkit-keyframes spinner {
    0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
}@-moz-keyframes spinner {
    0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
}@-o-keyframes spinner {
    0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
}.spinner {
    display: inline-block;
    text-align: center;
}
.spinner .spinner-bar {
    position: relative;
    width: 3rem;
    height: 3rem;
    border: .25rem solid transparent;
    border-top-color: #2980b9;
    border-left-color: #2980b9;
    border-right-color: #2980b9;
    -webkit-animation: spinner 1s linear infinite;
    -moz-animation: spinner 1s linear infinite;
    -o-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%}
.spinner .spinner-text {
    position: relative;
    font-size: .875rem;
}
.spinner.spinner-block {
    position: fixed;
    background: rgba(255, 255, 255, 0.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3050;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.spinner.spinner-block .spinner-bar {
    left: 50%;
    top: 50%;
    margin: -2rem 0 0 -2rem;
    border: .25rem solid transparent;
    border-top-color: #2980b9;
    border-left-color: #2980b9;
    border-right-color: #2980b9;
    -webkit-animation: spinner 1s linear infinite;
    -moz-animation: spinner 1s linear infinite;
    -o-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%}
.spinner.spinner-block .spinner-text {
    padding: .25rem 0;
    text-align: center;
    top: 50%}
.spinner.spinner-block.show {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    visibility: visible;
}
.spinner.spinner-sm .spinner-bar {
    width: 2.25rem;
    height: 2.25rem;
}
.spinner.spinner-sm .spinner-text {
    font-size: .8rem;
}
.spinner.spinner-lg .spinner-bar {
    width: 3.75rem;
    height: 3.75rem;
}
.spinner.spinner-lg .spinner-text {
    font-size: .95rem;
}
label.switch {
    margin-bottom: 0;
    position: relative;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
}
label.switch input[type=checkbox] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}
label.switch input[type=checkbox], label.switch input[type=checkbox]:after, label.switch input[type=checkbox]:before, label.switch input[type=checkbox] *, label.switch input[type=checkbox] *:after, label.switch input[type=checkbox] *:before, label.switch input[type=checkbox]+span {
    box-sizing: border-box;
}
label.switch input[type=checkbox]::selection, label.switch input[type=checkbox]:after::selection, label.switch input[type=checkbox]:before::selection, label.switch input[type=checkbox] *::selection, label.switch input[type=checkbox] *:after::selection, label.switch input[type=checkbox] *:before::selection, label.switch input[type=checkbox]+span::selection {
    background: none;
}
label.switch input[type=checkbox]+.switch-slider {
    background: #ced4da;
    cursor: pointer;
    display: block;
    height: 2rem;
    outline: 0;
    padding: .125rem;
    position: relative;
    width: 4rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label.switch input[type=checkbox]+.switch-slider:before, label.switch input[type=checkbox]+.switch-slider:after {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%}
label.switch input[type=checkbox]+.switch-slider:before {
    display: none;
}
label.switch input[type=checkbox]+.switch-slider:after {
    left: 0;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
label.switch input[type=checkbox]:checked+.switch-slider:after {
    left: 50%}
label.switch input[type=checkbox]:disabled+.switch-slider {
    background: #dde1e5;
    cursor: not-allowed;
}
label.switch input[type=checkbox]:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 0.25);
}
label.switch.switch-sm {
    font-size: .875rem;
}
label.switch.switch-sm input[type=checkbox]+.switch-slider {
    height: 1.5rem;
    width: 2.75rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    border-radius: 1.5rem;
}
label.switch.switch-lg {
    font-size: 1.125rem;
}
label.switch.switch-lg input[type=checkbox]+.switch-slider {
    height: 2.5rem;
    width: 5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    border-radius: 2.5rem;
}
label.switch-danger input[type=checkbox]+.switch-slider {
    background: #dc3545;
}
label.switch-danger input[type=checkbox]:disabled+.switch-slider {
    background: #eb8c95;
}
label.switch-danger input[type=checkbox]:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
label.switch-info input[type=checkbox]+.switch-slider {
    background: #17a2b8;
}
label.switch-info input[type=checkbox]:disabled+.switch-slider {
    background: #4cd3e9;
}
label.switch-info input[type=checkbox]:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}
label.switch-primary input[type=checkbox]+.switch-slider {
    background: #007bff;
}
label.switch-primary input[type=checkbox]:disabled+.switch-slider {
    background: #66b0ff;
}
label.switch-primary input[type=checkbox]:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
label.switch-success input[type=checkbox]+.switch-slider {
    background: #28a745;
}
label.switch-success input[type=checkbox]:disabled+.switch-slider {
    background: #5dd879;
}
label.switch-success input[type=checkbox]:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
label.switch-warning input[type=checkbox]+.switch-slider {
    background: #ffc107;
}
label.switch-warning input[type=checkbox]:disabled+.switch-slider {
    background: #ffdb6d;
}
label.switch-warning input[type=checkbox]:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}
label.switch-to-danger input[type=checkbox]:checked+.switch-slider {
    background: #dc3545;
}
label.switch-to-danger input[type=checkbox]:checked:disabled+.switch-slider {
    background: #eb8c95;
}
label.switch-to-danger input[type=checkbox]:checked:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
label.switch-to-info input[type=checkbox]:checked+.switch-slider {
    background: #17a2b8;
}
label.switch-to-info input[type=checkbox]:checked:disabled+.switch-slider {
    background: #4cd3e9;
}
label.switch-to-info input[type=checkbox]:checked:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}
label.switch-to-primary input[type=checkbox]:checked+.switch-slider {
    background: #007bff;
}
label.switch-to-primary input[type=checkbox]:checked:disabled+.switch-slider {
    background: #66b0ff;
}
label.switch-to-primary input[type=checkbox]:checked:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
label.switch-to-success input[type=checkbox]:checked+.switch-slider {
    background: #28a745;
}
label.switch-to-success input[type=checkbox]:checked:disabled+.switch-slider {
    background: #5dd879;
}
label.switch-to-success input[type=checkbox]:checked:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
label.switch-to-warning input[type=checkbox]:checked+.switch-slider {
    background: #ffc107;
}
label.switch-to-warning input[type=checkbox]:checked:disabled+.switch-slider {
    background: #ffdb6d;
}
label.switch-to-warning input[type=checkbox]:checked:focus+.switch-slider {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

.nav-full-height {
    height: 100%;
}

.margin-top-login-box {
    margin-top: 12%;
}

/*Css for React Modal*/
.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  /*End of Css for React Modal*/

  .hidden {
      display: none !important;
  }

  .margin-top-10 {
      margin-top: 10px;
  }

  .margin-left-10 {
      margin-left: 10px;
  }

  .no-events {
      pointer-events: none;
  }

  .loader {
      width: 48px;
      height: 48px;
  }

  .loader-text {
      margin-left: 15px;
      color: gray;
      font-size: 14px;
  }

  .highlight-yellow {
      color: #ffdb6d;
  }